<div style="font-family: Arial, Helvetica, sans-serif; font-seze: 16px;
  line-height: 1.6; color: #222, max-width: 600px; background-color:#f4f4f4;padding:20px 40px 30px 40px">
  <div class="adM">
  </div>
  <div style="padding-bottom:5px">
    <div class="adM"></div>
  </div>
  <div
    style="border:1px solid #a5a5a5;background-color:#ffffff;color:#4d4d4d;font:14px Arial,Helvetica,sans-serif;padding:10px;text-align:left">

    {{> bemvindo}}

    {{{ body }}}

    {{> footer }}
  </div>
  <div style="color:#727272;font:12px Arial,Helvetica,sans-serif;padding:5px 0px;text-align:left">
    Faça seus agendamentos com praticidade!
  </div>
  <div class="yj6qo"></div>
  <div class="adL">
  </div>
</div>
