<p>
  Use o link a seguir nas pr&oacute;ximas 24 horas para gerar um novo Token, ou criar uma nova senha!
</p>
<p align="justify" style="width:400px;">
  clique no link ou copie e cole: </p>
<p> >> <strong> {{> component-with-a-link }} </strong>
  << </p> <p>
    Se n&atilde;o foi voc&ecirc; que solicitou a cria&ccedil;&atilde;o de um novo Token ou de uma nova senha,
    n&atilde;o se preocupe, apenas ignore está mensagem.
</p>
